#blog-post {
    padding-right: 20px;
    padding-left: 20px;
    margin: 2%;
    background-color: var(--light);
    border: solid var(--dark) 2px;
    h2 {
        margin: 20px;
        border-bottom: solid var(--dark) 2px;
    }
}

.dark-mode {
    #blog-post {
        padding-right: 20px;
        padding-left: 20px;
        margin: 2%;
        background-color: var(--dark);
        border: solid var(--light) 2px;
        h2 {
            margin: 20px;
            border-bottom: solid var(--light) 2px;
        }
    }
}